* {
  box-sizing: border-box;
}

body {
	height: 100%;
	margin:0;
	background-image: url("fondo.jpg");
	/*If the image is not available*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/*background-color: pink;*/
	overflow: hidden;
} 

header {
  height: 15%;
  margin: 0;
  text-align: center;
	font-size:20px;
  color: black;
  background-color: pink;
}

menu {
  height:70%;
  width: 70%;
  padding: 5% 5% 5% 5%;
  background-color: transparent;
}

footer {
  height: 15%;
  margin: 0;
  text-align: center;
	font-size:20px;
  color: black;
  background-color: pink;
}


ul {
  margin: 0;
  padding-left: 0px;
  /*Get rid of the point before the text*/
  list-style-type:none;
  /*Si los elementos sobresalen, se rellena*/  
  overflow: hidden;
  /*background-color:#F5F5F5;*/
}

li {
  margin: 0;
  color: white;
  float: left;
  width: 50%;
  height: 33%;
  padding: auto;
}

#gif {
  position: fixed;
  position:absolute;
  bottom: 0px;
  right: 0px;
  height:400px;
  width:400px;
  animation: mymove1 5s infinite;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#gif:hover {
  cursor: crosshair;
}

#gif2 {
  position: fixed;
  position:absolute;
  bottom: 0px;
  right: 0px;
  height:400px;
  width:300px;
  animation: mymove2 5s infinite;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#gif2:hover {
  cursor: crosshair;
}

button.menu {
  background-color:transparent;
  color: white;
  height: 80%;
  width: 80%;
  margin-left: 10%;
  overflow: hidden;
  border:2px solid black;
  /*display: block;*/

}

@keyframes mymove1 {
  from {right: 0px;}
  to {background-position: 0 100%;}
}

@keyframes mymove2 {
  from {left: 0px;}
  to {left: 700px;}
}

button.menu:hover {
  background-color:pink;
  color:white;
  border:2px outline pink;
  transition: 1s;
}


}

