* {
  box-sizing: border-box;
}

body {
	height: 100%;
	margin:0;
	background-image: url("fondo.jpg");
	/*If the image is not available*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/*background-color: pink;*/
	overflow: hidden;
} 

header {
  height:30%;
  margin: 0;
  text-align: center;
  font-size:40px;
  color: black;
  background-color: pink;
}

menu {
  height:60%;
  width: 70%;
  padding: 5% 5% 5% 5%;
  background-color: transparent;
}

footer {
  height:10%;	
  margin: 0;
  text-align: center;
	font-size:40px;
  color: black;
  background-color: pink;
}


ul {
  margin: 0;
  padding-left: 0px;
  /*Get rid of the point before the text*/
  list-style-type:none;
  /*Si los elementos sobresalen, se rellena*/  
  overflow: hidden;
  /*background-color:#F5F5F5;*/
}

li {
  margin: 0;
  color: white;
  float: left;
  width: 50%;
  height: 33%;
  padding: auto;
}

#gif {
  position: fixed;
  position:absolute;
  bottom: 0px;
  right: 0px;
  height:70%;
  width:45%;
  animation: mymove1 5s infinite;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#gif:hover {
  cursor: crosshair;
}

#gif2 {
  position: fixed;
  position:absolute;
  bottom: 0px;
  right: 0px;
  height:70%;
  width:25%;
  animation: mymove2 5s infinite;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#gif2:hover {
  cursor: crosshair;
}

#Happy {
  height: 50%;
  width: 50;
  margin: auto;
  display: none;
}

button.menu {
  background-color:transparent;
  color: black;
  height: 80%;
  width: 80%;
  margin-left: 10%;
  overflow: hidden;
  border:2px solid black;
  /*display: block;*/

}

@keyframes mymove1 {
  from {right: 0px;}
  to {right: 20%;}
}

@keyframes mymove2 {
  from {left: 0px;}
  to {left: 40%;}
}

button.menu:hover {
  background-color:pink;
  color:white;
  border:2px outline pink;
  transition: 1s;
}

@media screen and (max-width: 480px) {
header {
  font-size:10px;
}
footer {
  font-size:10px;
}
#Happy {
  height: 50%;
  width: 80%;
  margin: auto;
  display: none;
}
}

}

